<div 
  *ngIf="!isConnect"
  class="connect-nortification"
>
  <img src="./assets/icons/connect.png" />
  <div class="description">
    <p>Welcome to ICELLET Setup!</p>
    <p>Please connect the</p>
    <p>Device to computer</p>
  </div>
</div>

<section
  *ngIf="isConnect"
>
  <div id="configuration-done" class="popup">
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Your device is READY!!</p>
        <p class="description">Now you can use your wallet</p>
        <div class="icon">
          <img src="./assets/icons/done.png">
        </div>
      </div>
      <div class="close-btn">
        x
      </div>
    </div>
  </div>
  <div id="done" class="popup recovery">
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Confirmation</p>
        <p class="description">Please wait a few seconds. While your device is being configurated</p>
        <p class="sub-description">
          Do not Power Off your device
        </p>
      </div>
      <div class="close-btn">
        x
      </div>
    </div>
  </div>
  <div
    *ngIf="currentStep == 6"
    id="word-confirmation" 
    class="popup word-confirmation"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Recovery Seed Setup</p>
        <p class="description">In the list below, select the word <b>number {{ recoveryWordIndex }}</b> of the recovery sheet</p>
        <div class="word-list">
          <li
              *ngFor="let word of recoveryWordList.slice(recoveryWordStartIndex, recoveryWordStartIndex + 6)"
              (click)="onRecoveryWordClick(word)"
            >
              {{ word }}
            </li>
        </div>
      </div>
      <div class="enter-cancel-btn">
        <a class="btn enter-btn" href="#">Next</a>
      </div>
      <div class="close-btn">
        x
      </div>
    </div>
  </div>
  <div
    *ngIf="currentStep == 5"
    id="word-confirmation1"
    class="popup word-confirmation"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Confirmation</p>
        <p class="description">In the list below, select the word <b>number {{ recoveryWordIndex }}</b> of the recovery sheet</p>
        <div class="word-list">
          <ul>
            <li
              *ngFor="let word of recoveryWordList.slice(recoveryWordStartIndex, recoveryWordStartIndex + 6)"
              (click)="onRecoveryWordClick(word)"
            >
              {{ word }}
            </li>
          </ul>
        </div>
      </div>
      <div class="enter-cancel-btn">
        <a
          (click)="onCancelClick()"
          class="btn enter-btn"
          href="#"
        >
          Back
        </a>
        <a
          (click)="onEnterClick('recoveryWord')"
          class="btn cancel-btn"
          href="#"
        >
          Continue
        </a>
      </div>
      <div 
        (click)="onCancelClick()"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
  <div
    *ngIf="currentStep == 4"
    id="recovery-setup"
    class="popup recovery
  ">
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Recovery Seed Setup</p>
        <p class="description">
          On your DEVICE. You will now see a unique combination of 24 words,
          which will allow you to recover your accounts in case you lose your device.
          The orders of the words is very important. Please write down all these words
          carefully. Never make a digital copy of your recovery seed and never upload it online.
          Keep your recovery seed in a safe place. DEVICE cannot be held liable for financial losses
          incurred through the client's improper care of sensitive information
        </p>
        <div class="icon">
          <img src="./assets/icons/pencil.png">
        </div>
        <p class="sub-description">
          Writedown the 24 words from the DEVICE into the recovery card.
        </p>
      </div>
      <div
        (click)="onEnterClick('recoveryCard')"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
  <div 
    *ngIf="currentStep == 3"
    id="confirm-device-pin" 
    class="popup pin"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="description">Please Reenter.</p>
        <p class="description">The NEW PIN</p>
        <div class="virtual-keyboard">
          <ul>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(0, 3)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(3, 6)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(6, 10)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
          </ul>
          <div class="value-container">
            <span 
              *ngFor="let pinItem of devicePin.split('')"
              class="item"
            >
            </span>
          </div>
        </div>
      </div>
      <div class="enter-cancel-btn">
        <a
          (click)="onEnterClick('reEnterDevicePin')"
          class="btn enter-btn" 
          href="#"
        >
          Enter
        </a>
        <a 
          (click)="processToPreviousStep()"
          class="btn cancel-btn"
          href="#"
        >
          Cancel
        </a>
      </div>
      <div
        (click)="processToPreviousStep()"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
  <div
    *ngIf="currentStep == 2"
    id="get-device-pin"
    class="popup pin"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="description">Choice a strong pin to protect your device from unauthorized access. the number are display on your device</p>
        <div class="virtual-keyboard">
          <ul>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(0, 3)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(3, 6)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
            <div class="row">
              <li 
                *ngFor="let key of keyMap.slice(6, 10)"
                class="key"
                (click)="onVirtualKeyBoardClick(key, 'devicePin')"
              >
              </li>
            </div>
          </ul>
          <div class="value-container">
            <span 
              *ngFor="let pinItem of devicePin.split('')"
              class="item"
            >
            </span>
          </div>
        </div>
      </div>
      <div class="enter-cancel-btn">
        <a
          (click)="onEnterClick('devicePin')"
          class="btn enter-btn"
          href="#"
        >
          Enter
        </a>
        <a
          (click)="processToPreviousStep()"
          class="btn cancel-btn"
          href="#"
        >
          Cancel
        </a>
      </div>
      <div
        (click)="processToPreviousStep()"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
  <div
    *ngIf="currentStep == 1"
    id="get-device-name" 
    class="popup"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Welcome to Icellet Setup!</p>
        <p class="description">Setting up your device will only take a few minutes.</p>
        <p class="description">When you're done. You can start using your wallet.</p>
        <div class="input">
          <input
            [(ngModel)]="deviceName"
            type="text"
            placeholder="Please enter your device name!"
          />
        </div>
      </div>
      <div class="enter-cancel-btn">
        <a
          (click)="onEnterClick('deivceName')"
          class="btn enter-btn"
          href="#"
        >
          Enter
        </a>
        <a
          (click)="processToPreviousStep()"
          class="btn cancel-btn"
          href="#"
        >
          Cancel
        </a>
      </div>
      <div 
        (click)="processToPreviousStep()"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
  <div 
    *ngIf="currentStep == 0"
    id="connected"
    class="popup"
  >
    <!-- overlay to make screenblur -->
    <div class="overlay"></div>
    <div class="pannel">
      <div class="container">
        <p class="heading">Device Connected</p>
        <p class="description">Now you can configure your device</p>
        <div class="icon">
          <img src="./assets/icons/phone.png">
        </div>
      </div>
      <div 
        (click)="processToNextStep()"
        class="close-btn"
      >
        x
      </div>
    </div>
  </div>
</section>