<section
  *ngIf="subSidebarActiveItem === 'chart'"
  class="main"
  id="chart"
>
  <div class="search-bar">
    <input
      type=""
      name=""
      placeholder="Search"
    >
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
  <div class="graphics"></div>
  <div class="chart">
    <table>
      <thead>
        <tr>
        <th>Currencies</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Total</th>
        <th>24h % change</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
        <tr>
          <td>BTC</td>
          <td>3</td>
          <td>2500$</td>
          <td>7500$</td>
          <td>^ 1.89%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="tip">
    You can add or hide assets from Settings Menu
  </p>
</section>
<section
  *ngIf="subSidebarActiveItem === 'graphics'"
  class="main"
  id="chart"
>
  <p>Graphics section</p>
</section>