/*--------------------------------------------
//  SIDEBAR
--------------------------------------------*/

aside.sidebar {
  padding: 0 42px;
  text-align: center;
  max-width: 300px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 3px solid #114B5F;
  position: fixed;
  z-index: 10;
}

aside.sidebar>div.container {
  height: 100%;
}

aside.sidebar li {
  list-style: none;
}

aside.sidebar a {
  transition: color 0.5s;
}

aside.sidebar a:hover {
  color: #fa9c00 !important;
  background: #114b5f;
  cursor: pointer;
}

aside.main>div.container div.top-container {
  padding-top: 40px;
}

aside.main>div.container div.bottom-container {
  height: calc(100% - 332px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside.main div.logo img {
  width: 202px;
  height: 164px;
  -webkit-filter: #FFFFFF;
  filter: #FFFFFF;
}

aside.main div.balance {
  padding-top: 60px;
  font-size: 26px;
  color: #E0F2F6;
}

aside.sidebar nav.side-menu li a {
  color: #27ABBE;
  font-size: 26px;
  padding: 16px;
  display: block;
}

aside.sub {
  left: 289px;
  padding: 0;
  width: 100%;
  max-width: 190px;
}

aside.sub>div.container {
  padding-top: 152px;
}

aside.sidebar.sub nav.side-menu {
  max-height: 679px;
  overflow: scroll;
}

aside.sidebar.sub nav.side-menu li a {
  text-align: right;
}

aside ul li.active {
  background: #114b5f;
}

aside ul li.active a {
  color: #fa9c00 !important;
}
/*--------------------------------------------
//  END OF SIDEBAR
--------------------------------------------*/