<aside class="sidebar main">
  <div class="container">
    <div class="top-container">
      <div class="logo">
        <img src="./assets/images/logo.png" />
      </div>
      <div class="balance">
        <p>${{ ballance.usd }} USD</p>
        <p>{{ ballance.btc }} BTC</p>
      </div>
    </div>
    <div class="bottom-container">
      <nav class="side-menu">
        <ul>
          <li
            *ngFor="let navItem of sidebarItems"
            (click)="setSidebarActiveItem(navItem.content)"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <a routerLink='{{ navItem.link }}'>{{ navItem.content }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
<aside
  *ngIf="sidebarActiveItem !== 'wallet'"
  class="sub sidebar"
>
  <div class="container">
    <nav class="side-menu">
      <ul>
        <li 
          *ngFor="let navItem of subSidebarItems"
          (click)="setSubSidebarActiveItem(navItem.content)"
          [class.active]="navItem.content === subSidebarActiveItem" 
        >
          <a>{{ navItem.content }}</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>