/*
  IMPORT FONTS
*/

@font-face {
  font-family: avenir;
  src: url('../fonts/avenir.otf');
}

@font-face {
  font-family: lato;
  src: url('../fonts/Lato.ttf');
}

/*
  GLOBAL CSS
*/

body {
  font-family: avenir;
  margin: 0;
  padding: 0;
}

body>div.container {
  height: 100%;
  height: 919px;
  display: flex;
  align-content: flex-start;
  background: -webkit-radial-gradient(circle, #114B5F, #093442);
  background: -o-radial-gradient(circle, #114B5F, #093442);
  background: -moz-radial-gradient(circle, #114B5F, #093442);
  background: radial-gradient(circle, #114B5F, #093442);
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/*--------------------------------------------
//  SIDEBAR
--------------------------------------------*/

aside.sidebar {
  padding: 0 42px;
  text-align: center;
  max-width: 300px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 3px solid #114B5F;
  position: fixed;
  z-index: 10;
}

aside.sidebar>div.container {
  height: 100%;
}

aside.sidebar li {
  list-style: none;
}

aside.sidebar a {
  transition: color 0.5s;
}

aside.sidebar a:hover {
  color: #fa9c00 !important;
  background: #114b5f;
}

aside.main>div.container div.top-container {
  padding-top: 40px;
}

aside.main>div.container div.bottom-container {
  height: calc(100% - 332px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside.main div.logo img {
  width: 202px;
  height: 164px;
  -webkit-filter: #FFFFFF;
  filter: #FFFFFF;
}

aside.main div.balance {
  padding-top: 60px;
  font-size: 26px;
  color: #E0F2F6;
}

aside.sidebar nav.side-menu li a {
  color: #27ABBE;
  font-size: 26px;
  padding: 16px;
  display: block;
}

aside.sub {
  left: 289px;
  padding: 0;
  width: 100%;
  max-width: 190px;
}

aside.sub>div.container {
  padding-top: 152px;
}

aside.sidebar.sub nav.side-menu li a {
  text-align: right;
}

/*--------------------------------------------
//  END OF SIDEBAR
--------------------------------------------*/

/*-------------------------------------------
  MAIN SECTION(WHERE USER INTERACT WITH)
-------------------------------------------*/

section.main {
  width: calc(100% - 300px);
  height: 100%;
  position: relative;
  right: 0;
  padding-left: 300px;
}

/*
  WELCOME NORTIFICATION
*/

div.connect-nortification {
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

div.connect-nortification div.description {
  margin-top: 90px;
}

div.connect-nortification p {
  font-size: 22px;
  color: #E0F2F6;
}

/*
  POPUP COMPONENT
*/

div.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

div.popup div.overlay {
  width: 100%;
  height: 100%; 
  background: #04151B;
  opacity: 0.3;
}

div.popup div.pannel {
  font-family: lato;
  width: 100%;
  max-width: 875px;
  height: 753px;
  padding-top: 114px; padding-bottom: 80px;
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-radial-gradient(circle, #114B5F, #093442);
  background: -o-radial-gradient(circle, #114B5F, #093442);
  background: -moz-radial-gradient(circle, #114B5F, #093442);
  background: radial-gradient(circle, #114B5F, #093442);
  border-radius: 10px;
  text-align: center;
  border: 4px solid #028394;
}

div.popup div.pannel>div.container {
  max-width: 568px;
  margin: 0 auto;
}

div.popup div.pannel p.heading {
  font-size: 26px;
  color: #E0F2F6;
  padding-bottom: 25px;
}

div.popup div.pannel p.description {
  font-size: 20px;
  color: #E0F2F6;
  padding-bottom: 10px;
  line-height: 30px;
  text-align: center;
}

div.popup div.pannel p.sub-description {
  position: absolute;
  font-size: 18px;
  color: #E0F2F6;
  padding-bottom: 10px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

div.popup div.pannel div.close-btn {
  font-size: 32px;
  color: #028394;
  position: absolute;
  top: 5px; right: 15px;
  cursor: pointer;
}

div.popup div.pannel div.input {
  margin-top: 168px;
}

div.popup div.pannel div.input input {
  padding: 12px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #1E4D59;
  border: 0;
  border-radius: 5px;
  background: #E0F2F6;
}

div.popup div.pannel div.enter-cancel-btn {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

div.popup div.pannel div.enter-cancel-btn a {
  text-decoration: none;
  color: #27ABBE;
  padding: 0 27px;
  font-size: 25px;
  font-weight: bold;
}

/*
  UNIQUE STYLE FOR SPECIFIC POPUP
*/

/*
  SMALLER CONTAINER
*/
div.pin.popup div.pannel div.container,
div.recovery.popup div.pannel div.container,
div.word-confirmation.popup div.pannel div.container {
  max-width: 374px;
}

/*
  SMALLER PADDING FOR HEADING
*/
div.recovery.popup div.pannel,
div.word-confirmation.popup div.pannel {
  padding-top: 60px;
}

/*
  CONNECTED
*/

div.connected.popup div.pannel div.icon {
  margin-top: 167px;
}

/*
  VIRTUAL KEYBOARD
*/
div.pin.popup div.pannel div.virtual-keyboard li.key {
  list-style: none;
  height: 80px;
  width: 80px;
  border: 5px solid #27ABBE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;  
}

div.pin.popup div.pannel div.virtual-keyboard ul>div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.pin.popup div.pannel div.virtual-keyboard li.key:after {
  content: "";
  height: 22px;
  width: 22px;
  display: block;
  background: #E0F2F6;
  border-radius: 50px;
}

div.pin.popup div.pannel div.virtual-keyboard div.value-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

div.pin.popup div.pannel div.virtual-keyboard div.value-container span.item {
  height: 15px;
  width: 15px;
  background: #E0F2F6;
  display: block;
  border-radius: 50%;
  margin: 0 8px;
}

/*
  HOVER STYLE FOR VIRTUAL KEYBOARD
*/

div.pin.popup div.pannel div.virtual-keyboard li.key:hover {
  background: #E0F2F6;
  border: 5px solid #E0F2F6;
  cursor: pointer;
}

div.pin.popup div.pannel div.virtual-keyboard li.key:hover:after {
  background: #27ABBE;
}

/*
  RECOVERY SETUP POPUP
*/

div#recovery-setup.popup div.pannel div.icon {
  padding-top: 60px;
  margin: 50px 0px;
  padding: 0;
}

/*
  WORD CONFIRMATION
*/

div.word-confirmation.popup div.pannel div.word-list li {
  list-style: none;
  font-size: 22px;
  color: #E0F2F6;
  padding: 15px 136px;
  background: #028394;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s;
}

/*
  HOVER FOR WORD CONFIRMATION LIST
*/

div.word-confirmation.popup div.pannel div.word-list li:hover {
  background: #F7B32B;
}

/*-------------------------------------------
// END OF MAIN SECTION
-------------------------------------------*/

/*
  HIDE UNUSED COMPONENT
*/